@font-face {
    font-family: "outfit_bold";
    src: 
      url("../fuentes/Outfit/Outfit-Bold.woff")format("woff"); 
  }
@font-face {
    font-family: "permanentmarker_regular";
    src: 
      url("../fuentes/PermanentMarker-Regular.ttf")format("truetype"); 
  }
@font-face {
    font-family: "bevietnam_regular";
    src: 
      url("../fuentes/BeVietnamPro/BeVietnamPro-Regular.woff")format("woff"); 
  }
@font-face {
    font-family: "bevietnam_medium";
    src: 
      url("../fuentes/BeVietnamPro/BeVietnamPro-Medium.woff")format("woff"); 
  }
@font-face {
    font-family: "PlusJakartaSans_regular";
    src: 
      url("../fuentes/PlusJakarta/PlusJakartaSans-Regular.woff")format("woff"); 
  }
@font-face {
    font-family: "PlusJakartaSans_medium";
    src: 
      url("../fuentes/PlusJakarta/PlusJakartaSans-Medium.woff")format("woff"); 
  }
@font-face {
    font-family: "PlusJakartaSans_bold";
    src: 
      url("../fuentes/PlusJakarta/PlusJakartaSans-Bold.woff")format("woff"); 
  }
@font-face {
    font-family: "ClashGrotesk_Semibold";
    src: 
      url("../fuentes/ClashGrotesk/ClashGrotesk-Semibold.woff")format("woff"); 
  }
body{
    margin:0;
    background-color: #F7DED0;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

body.loaded {
    opacity: 1;
}

/*---------------------------------------------------------*/
/* Barra de navegación */
.main_navbar{
    display:block;
    z-index: 1000;

    background-color: #FEECE2;
    backdrop-filter: blur(14px);
    /**box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.273);**/

    padding: 15px 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar_left{
    display: block;
    align-items: center;
    text-align: start;
    margin-left: 65px;
}

.navbar_right{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.button_title{
    text-decoration: none;
    color: #4b0f00;
    font-family: "Supreme_Regular";
    margin-right: 50px;
    
}

.button_title:hover #title{
    color:#af4139;
}

.button_title:hover #subtitle{
    color: #80403c;
}

.button{
    text-decoration: none;
    color: #C5705D;
    font-family: "PlusJakartaSans_medium";
    margin-right: 50px;
    transition-duration: .5s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.button:hover{
    color:rgb(204, 94, 94);
    border-bottom: solid;
    border-width: 1px;
}

#title{
    font-size: 30;
    font-family: "permanentmarker_regular";
    font-weight: 550;
    color:#C5705D;
    margin-bottom: 0;
    transition-duration: .5s;
}

#subtitle{
    font-size: 12;
    font-family: "PlusJakartaSans_medium";
    color: #815451;
    margin-top: 0;
    margin-left: 1px;
    position:relative;
    top:-4;
}

#navbar_bar {
    height:2px;
    border-width:0;
    color:rgb(196, 22, 22);
    background-color:rgb(231, 175, 165);
    width: 93%;
    margin-bottom: 0px;
}

/*---------------------------------------------------------*/
/* Cambiar Idioma */
.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebc6b1;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-size: cover;
    transition: .4s;
    border-radius: 50%;
    background-image: url('../multimedia/iconos/espana.png'); /* Bandera de España por defecto */
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('../multimedia/iconos/usa.png'); /* Bandera de EE.UU. cuando está seleccionado */
}

input:checked + .slider {
    background-color: #da9c8f;
}

.language-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

/*---------------------------------------------------------*/
/* Información sobre mi */

.about_div{
    display:flex;
}

.about_img{
    text-align: center;
    display: inline-block;
    margin-top: 120px;
    margin-left: 40px;
    width: 50%;
}

.about_txt{
    display: inline-block;
    text-align: justify;
    width: 38%;
    color:black;
}

.txt_info{
    font-size: 16;
    font-family: "PlusJakartaSans_medium";
    color:#4b1f00;
}

.title_info{
    font-size: 30;
    font-family: "PlusJakartaSans_bold";
    font-weight: 600;
    color:#4b1f00;
    padding-top: 26%;
}

#button{
    text-decoration: none; 
    display: flex;
    max-width: fit-content;
}

#CV_button{
    color: #eba798;
    font-size: 30;
    font-family: "PlusJakartaSans_medium";
    border-color: #eba798;
    border-style: solid;
    border-width: .1em;
    border-radius: 0em;
    background-color: #fdf4f200;
    max-width: fit-content;
    padding-left: 20;
    padding-right: 20;
    padding-top: 5;
    padding-bottom: 5;

    transition-duration: .5s;
}

#CV_button:hover {
    background-color: #eba798;
    border-radius: 16px;
    color:#fdf4f2;
}

/*---------------------------------------------------------*/
/* Información Fondo */

#RS_button{text-decoration: none;}

#RS_icon{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    transition-duration: .5s;
}

#RS_icon:hover{
    opacity:1;
}

#RS_icon:hover ~ #RS_icon{
    opacity:.5;
}

.RS_div:hover #RS_icon{
    opacity:.5;
}

.RS_div:hover #RS_icon:hover{
    opacity:1;
}

.bottom_info{
    text-align: center;
    padding-top: 200px;
}

#bottom_title{
    font-size: 30;
    color:rgb(179, 124, 124);
    margin-bottom: 0;
    padding-top: 30px;
}

#bottom_subtitle{
    font-size: 12;
    margin-top: 0;
    margin-bottom: 40px;
}

#mailto{
    font-size: 16;
    font-family: "PlusJakartaSans_regular";
    font-weight: 600;
    color: #FEECE2;;
    margin-bottom: 30px;
}

#copyright{
    font-size: 11;
    color: #FEECE2;;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 50px;
}

.spikes {
    position: relative;
    background: transparent;
    height: 400px;
  }
  
.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -35%;
    top: 0%;
    z-index: -1;
    display: block;
    height: 100%;
    background-size: 90px 100%;
    background-image: linear-gradient(135deg, #F7DED0 25%, transparent 25%), linear-gradient(225deg, #F7DED0 25%, #C5705D 25%);
    background-position: 0 0;
  }

/*---------------------------------------------------------*/
/* Versión para movil */

.navbar_right_mobile{display:none;}
.about_img_mobile{display:none;}
#subtitle_mobile{display:none;}

@media screen and (max-width: 767px) {

    .navbar_right{display:none;}
    .about_img{display:none;}

    .title_info{padding-top: 0;}

    #button{margin-left: 10vw;
    }

    .about_txt{
        width: 80%;
        margin-left: 10vw;
        text-align: justify;
        justify-content: center;
    }

    .about_img_mobile{
        width: 100%;
        display:block;
        text-align: center;
    }
/* Navbar */    

    .navbar_left{
        margin-left: 4vw;
    }

    .navbar_right_mobile{
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-right: 50px;
        position:absolute;
        top:9;
        right: -14;
        z-index: 1002;
    }
    
    .navbar-menu-link{
        font-family: "PlusJakartaSans_medium";
        color: #F7DED0;
        font-size: 30;
        position: absolute;
        display: block;
        text-align: center;
        text-decoration: none;
        right: 40;
        z-index: 5;
        width: 60%;
    }

    .menu-items {
        -webkit-backdrop-filter: blur(5px);
        display: none;
        list-style: none;
        position: fixed; 
        z-index: 1001; 
        background-color:#c0706dc2;
        backdrop-filter: blur(14px);
        width: 100%;
        height: 100%;
        text-align: center;
        top:0;
        padding:0;
        margin:0;
    }

    #title{
        font-size: 20;
        font-family: "permanentmarker_regular";
        font-weight: 550;
        color:#C5705D;
        margin-bottom: 0;
    }
    
    #subtitle{display:none;}

    #subtitle_mobile{
        display:block;
        font-size: 14;
        font-family: "Supreme_Regular";
        color: #815451;
        margin-top: 4px;
        margin-left: 0px;
        position:relative;
        top:-4;
    }

    #par0{margin-top: 12vh;}

    .sidebar{
        top:110;
    }

    .language-container {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 1.6vh;
    }

}