@font-face {
    font-family: "outfit_bold";
    src: 
      url("../fuentes/Outfit/Outfit-Bold.woff")format("woff"); 
  }
@font-face {
    font-family: "permanentmarker_regular";
    src: 
      url("../fuentes/PermanentMarker-Regular.ttf")format("truetype"); 
  }
@font-face {
    font-family: "bevietnam_regular";
    src: 
      url("../fuentes/BeVietnamPro/BeVietnamPro-Regular.woff")format("woff"); 
  }
@font-face {
    font-family: "bevietnam_medium";
    src: 
      url("../fuentes/BeVietnamPro/BeVietnamPro-Medium.woff")format("woff"); 
  }
@font-face {
    font-family: "PlusJakartaSans_regular";
    src: 
      url("../fuentes/PlusJakarta/PlusJakartaSans-Regular.woff")format("woff"); 
  }
@font-face {
    font-family: "PlusJakartaSans_medium";
    src: 
      url("../fuentes/PlusJakarta/PlusJakartaSans-Medium.woff")format("woff"); 
  }
@font-face {
    font-family: "ClashGrotesk_Semibold";
    src: 
      url("../fuentes/ClashGrotesk/ClashGrotesk-Semibold.woff")format("woff"); 
  }


  body{
    margin:0;
    opacity: 0;
    background-color: #F7DED0;
    transition: opacity 1s ease-in-out; 
}

body.loaded {
  opacity: 1;
}


/*---------------------------------------------------------*/
/* Cambiar Idioma */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebc6b1;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  background-size: cover;
  transition: .4s;
  border-radius: 50%;
  background-image: url('../multimedia/iconos/espana.png'); /* Bandera de España por defecto */
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url('../multimedia/iconos/usa.png'); /* Bandera de EE.UU. cuando está seleccionado */
}

input:checked + .slider {
  background-color: #da9c8f;
}

.language-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

/*---------------------------------------------------------*/
/* Barra de navegación */
.main_navbar{
    display:block;
    z-index: 1000;

    background-color: #FEECE2;
    backdrop-filter: blur(14px);
    /**box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.273);**/

    padding: 15px 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar_left{
    display: block;
    align-items: center;
    text-align: start;
    margin-left: 65px;
}

.navbar_right{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.button_title{
    text-decoration: none;
    color: #4b0f00;
    font-family: "Supreme_Regular";
    margin-right: 50px;
    
}

.button_title:hover #title{
    color:#af4139;
}

.button_title:hover #subtitle{
    color: #80403c;
}

.button{
    text-decoration: none;
    color: #C5705D;
    font-family: "PlusJakartaSans_medium";
    margin-right: 50px;
    transition-duration: .5s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.button:hover{
    color:rgb(204, 94, 94);
    border-bottom: solid;
    border-width: 1px;
}

#title{
    font-size: 30;
    font-family: "permanentmarker_regular";
    font-weight: 550;
    color:#C5705D;
    margin-bottom: 0;
    transition-duration: .5s;
}

#subtitle{
    font-size: 12;
    font-family: "PlusJakartaSans_medium";
    color: #815451;
    margin-top: 0;
    margin-left: 1px;
    position:relative;
    top:-4;
}

#navbar_bar {
    height:2px;
    border-width:0;
    color:rgb(196, 22, 22);
    background-color:rgb(231, 175, 165);
    width: 93%;
    margin-bottom: 0px;
}

/*---------------------------------------------------------*/
/* Imagenes */
.fotos {
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    margin-bottom: 2vw;
  }

  #fotos1 {
    width: 60vw;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
  }

  #fotos2 {
    width: 29vw;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
  }

  #fotos3 {
    width: 18.5vw;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
  }

  #fotos1:hover{ cursor:pointer; }
  #fotos2:hover{ cursor:pointer; }
  #fotos3:hover{ cursor:pointer; }

/*---------------------------------------------------------*/
/* FullviewImage */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.lightbox img {
    max-height: 90%;
    box-shadow: 8px 8px 8px rgba(0,0,0,.7);
}

.lightbox:target {
    display: flex;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.lightbox img {
    cursor: default;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3.2rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

#project_bar {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 80%;
    margin-top: 120px;
}

/*---------------------------------------------------------*/
/* Información Fondo */

#RS_button{text-decoration: none;}

#RS_icon{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    transition-duration: .5s;
}

#RS_icon:hover{
    opacity:1;
}

#RS_icon:hover ~ #RS_icon{
    opacity:.5;
}

.RS_div:hover #RS_icon{
    opacity:.5;
}

.RS_div:hover #RS_icon:hover{
    opacity:1;
}

.bottom_info{
    text-align: center;
    padding-top: 200px;
}

#bottom_title{
    font-size: 30;
    color:rgb(179, 124, 124);
    margin-bottom: 0;
    padding-top: 30px;
}

#bottom_subtitle{
    font-size: 12;
    margin-top: 0;
    margin-bottom: 40px;
}

#mailto{
    font-size: 16;
    font-family: "PlusJakartaSans_regular";
    font-weight: 600;
    color: #FEECE2;;
    margin-bottom: 30px;
}

#copyright{
    font-size: 11;
    color: #FEECE2;;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 50px;
}

.spikes {
    position: relative;
    background: transparent;
    height: 400px;
  }
  
.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -35%;
    top: 0%;
    z-index: -1;
    display: block;
    height: 100%;
    background-size: 90px 100%;
    background-image: linear-gradient(135deg, #F7DED0 25%, transparent 25%), linear-gradient(225deg, #F7DED0 25%, #C5705D 25%);
    background-position: 0 0;
  }

/* ------------------------------------------------------------------------------- */
  .container {
    max-width: 65vw;
    width: 100%;
    margin-left: 18.2vw;
    
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #da9a8c;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
    transition-duration: .5s;
  }
  
  .slider-wrapper .slide-button:hover {
    background: #C5705D;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    padding-left: 0;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 15vw;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #C5705D;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
/** --------------------------------------------------------------------- **/
/** Content Style **/
#proyects{
    margin-top: 140px;
    width: 100%;
}

#Category{
    padding-top: 60px;
}

.title_Projects{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 35px;
    font-family: "ClashGrotesk_Semibold";
    color:#C5705D;
}

.cover{
    display:flex;
    justify-content: start;
    text-align: center;
    gap: 1vw;
    margin-bottom: 1vw;
    margin-left: 17.5vw;
}

#coverind{ /* 1876 x 2884 */
    width: 21vw;
    border-radius: 0em;
    transition-duration: .2s;
}

#project_bar {
    height:3px;
    border-width:0;
    background-color:#C5705D;
    width: 80%;
    margin-bottom: 30px;
}

.img_container{
    position: relative;
}

.img_container:hover .overlay_img {
    opacity:1;
    z-index: 5;
}

.img_container:hover .image-item {
    filter: brightness(80%);
    filter: grayscale(60%);
}

.overlay_img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-duration: .2s;
    background-color: #ca827271;
    backdrop-filter: blur(1px);
}

#overlay_txt{
    color: white;
    font-size: 25px;
    font-family: "PlusJakartaSans_regular";
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay_txt{
  color: white;
  font-size: 25px;
  font-family: "PlusJakartaSans_regular";
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

  /* Styles for mobile and tablets 
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }*/

/* --------------------------------------------------------------------------------------------- */
/* Imagenes animadas */
@keyframes enter-animation {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
@media (prefers-reduced-motion: no-preference) {
    .image-animation {
      animation: enter-animation 0.8s 1;
    }
  }

/*---------------------------------------------------------*/
/* Versión para movil */

#subtitle_mobile{display:none;}
.navbar_right_mobile{display:none;}

#fotos1_mobile{display:none;}
.video_tr{display:block;}

@media screen and (max-width: 767px) {

  .navbar_right{display:none;}
  .video_tr{display:none;}

  #fotos1{
    width: 90vw;
  }

  #fotos1_mobile{
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    display:block;
  }

  #fotos2{
    width: 43vw;
  }
  #fotos3{
    width: 28vw;
  }

  .lightbox img{
    max-width: 80%;
  }

  .slider-wrapper .image-list .image-item {
    width: 30vw;
    object-fit: cover;
  }

/* Navbar */

  .navbar_left{
      margin-left: 4vw;
  }

  .navbar_right_mobile{
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-right: 50px;
      position:absolute;
      top:9;
      right: -14;
      z-index: 1002;
  }
  
  .navbar-menu-link{
      font-family: "PlusJakartaSans_medium";
      color: #F7DED0;
      font-size: 30;
      position: absolute;
      display: block;
      text-align: center;
      text-decoration: none;
      right: 40;
      z-index: 5;
      width: 60%;
  }

  .menu-items {
      -webkit-backdrop-filter: blur(5px);
      display: none;
      list-style: none;
      position: fixed; 
      z-index: 1001; 
      background-color:#c0706dc2;
      backdrop-filter: blur(14px);
      width: 100%;
      height: 100%;
      text-align: center;
      top:0;
      padding:0;
      margin:0;
  }

  #title{
    font-size: 20;
    font-family: "permanentmarker_regular";
    font-weight: 550;
    color:#C5705D;
    margin-bottom: 0;
}

#subtitle{display:none;}

#subtitle_mobile{
    display:block;
    font-size: 14;
    font-family: "Supreme_Regular";
    color: #815451;
    margin-top: 4px;
    margin-left: 0px;
    position:relative;
    top:-4;
}

  .sidebar{
      top:110;
  }

  .language-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-top: 1.6vh;
  }

  #overlay_txt{ display:none; }
}