@font-face {
  font-family: "outfit_bold";
  src: 
    url("../fuentes/Outfit/Outfit-Bold.woff")format("woff"); 
}
@font-face {
  font-family: "permanentmarker_regular";
  src: 
    url("../fuentes/PermanentMarker-Regular.ttf")format("truetype"); 
}
@font-face {
  font-family: "bevietnam_regular";
  src: 
    url("../fuentes/BeVietnamPro/BeVietnamPro-Regular.woff")format("woff"); 
}
@font-face {
  font-family: "bevietnam_medium";
  src: 
    url("../fuentes/BeVietnamPro/BeVietnamPro-Medium.woff")format("woff"); 
}
@font-face {
  font-family: "PlusJakartaSans_regular";
  src: 
    url("../fuentes/PlusJakarta/PlusJakartaSans-Regular.woff")format("woff"); 
}
@font-face {
  font-family: "PlusJakartaSans_medium";
  src: 
    url("../fuentes/PlusJakarta/PlusJakartaSans-Medium.woff")format("woff"); 
}
@font-face {
  font-family: "ClashGrotesk_Semibold";
  src: 
    url("../fuentes/ClashGrotesk/ClashGrotesk-Semibold.woff")format("woff"); 
}

/* ------------------------------------------------------------------------- */
body{
  margin:0;
  padding: 0;
  text-align: center;
  background-color: #F7DED0;
  /* background-image: url('../multimedia/index/7.png'); */
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

body.loaded {
  opacity: 1;
}

p{ margin:0; }

/* ------------------------------------------------------------------------- */
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../multimedia/index/7.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
  border: 24px solid #F7DED0;
  border-radius: 2.5em; /*                                             <-----   BORDE DE LA IMAGEN DE FONDO  */
  box-sizing: border-box;
  opacity: 1;
  transition-duration: 2.5s;
}

#middle_bg{
  width: 90%;
  margin-left: 5vw;
  margin-bottom: 10vh;
  border-radius: 12px;
  text-align: center;
}

/* ------------------------------------------------------------------------- */
/* Titulo y Botones */

#title{
  margin-top: 1vw;
  color:#F7DED0;
  font-size: 10vw;
  font-family: "permanentmarker_regular";
  transition-duration: .4s;
}

.buttons_div{
  margin-top: 12vw;
}

#buttons_style{
  text-decoration: none;
  color:#F7DED0;

  font-size: 25px;
  font-family: "PlusJakartaSans_medium";

  border:solid;
  border-color: #F7DED0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 4px;

  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 4px;

  transition-duration: .4s;
}

#buttons_style:hover{
  background-color: #F7DED0;
  border-radius: 24px;
  color: #272727;
}

/*---------------------------------------------------------*/
/* Información Fondo */

#RS_button{text-decoration: none;}

#RS_icon{
    width: 40px;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    transition-duration: .5s;
}

#RS_icon:hover{
    opacity:1;
}

#RS_icon:hover ~ #RS_icon{
    opacity:.5;
}

.RS_div:hover #RS_icon{
    opacity:.5;
}

.RS_div:hover #RS_icon:hover{
    opacity:1;
}

.bottom_info{
    text-align: center;
    padding-top: 20px;
}

#bottom_title{
    font-size: 30;
    color:rgb(179, 124, 124);
    margin-bottom: 0;
    padding-top: 30px;
}

#bottom_subtitle{
    font-size: 12;
    margin-top: 0;
    margin-bottom: 40px;
}

#mailto{
    font-size: 16;
    font-family: "PlusJakartaSans_regular";
    font-weight: 600;
    color: #FEECE2;;
    margin-bottom: 30px;
}

#copyright{
    font-size: 11;
    color: #FEECE2;;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 50px;
}


/*---------------------------------------------------------*/
/* Cambiar Idioma */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F7DED0;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  background-size: cover;
  transition: .4s;
  border-radius: 50%;
  background-image: url('../multimedia/iconos/espana.png'); /* Bandera de España por defecto */
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url('../multimedia/iconos/usa.png'); /* Bandera de EE.UU. cuando está seleccionado */
}

input:checked + .slider {
  background-color: #F7DED0;
}

.language-container {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  margin-left: 4vh;
}


/*---------------------------------------------------------*/
/* Versión para movil */
.buttons_div_mobile{display:none;}

@media screen and (max-width: 767px) {

  #title{
    margin-top: 10vh;
    color:#F7DED0;
    font-size: 20vw;
    font-family: "permanentmarker_regular";
    transition-duration: .4s;
  }

  .buttons_div{
    margin-top: 12vw;
  }

  #buttons_style{
    text-decoration: none;
    color:#F7DED0;

    font-size: 15px;
    font-family: "PlusJakartaSans_medium";

    border:solid;
    border-color: #F7DED0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 4px;

    margin-top: 20vw;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 4px;

    transition-duration: .4s;
  }

  #bot2{margin-top: 40vh;}

  .buttons_div{display:none;}
  .buttons_div_mobile{display:block; text-align: center;}

  .buttons_div_mobile a{
    text-decoration: none;
    color:#F7DED0;

    font-size: 15px;
    font-family: "PlusJakartaSans_medium";

    border:solid;
    border-color: #F7DED0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 4px;

    margin-top: 30px;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 4px;

    width: 50%;
    margin-left: 23vw;
    display: block;

    transition-duration: .4s;
  }

  .buttons_div_mobile a:hover{
    background-color: #F7DED0;
    border-radius: 24px;
    color: #272727;
  }

}